<section>
    <article>
        <header>
            <h3>Para usarmos o novo componente copiamos o selector do novo componente e colamos no app.component.html e depois 
               começamos a trabalhar com ts e html criado. Para usarmos a interpolação precisamos
               usar duas chaves e declarar a variavel tipada no ts e  colocar a variavel 
               dentro das chaves.
            </h3>
<h3>
    Para usar o Property Binding usamos [ ] em volta da propiedade.
    <img class="foto" [src]=" urlImagem " >
</h3>
        </header>
    </article>
</section>
